table, th, td {border: solid black}

#tabela_titulo {text-align: center;background-color: black;color: white;}

#vazio{
    background-color: darkseagreen;
}
#centro{
    text-align: center;
}
